h1 {
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #748DA6;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.TopContainer {
  background-color: #FFDEDE;
  position: relative;
  padding-top: 100px;
}

.bottom-container {
  background-color: #748DA6;
  margin-top: 50px;
}

.identifier {
  margin-top: 10px;
  padding-bottom: 25px;
}

.book {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.getInTouch {
  margin: 0 auto 75px auto;
}

.endLine {
  margin: 0 auto 75px auto;
}

.headset {
  width: 25%;
  float: right;
  margin-left: 30px;
  margin-bottom: 20px;
}

body {
  color: #40514E;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 400px;
  height: 100px;
  width: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 100px;
  height: 100px;
  width: 100px;
}

.mountain {
  height: 175px;
  width: 175px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #748DA6;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.pro {
  text-decoration: underline;
}

.Marwa {
  height: 250px;
  width: 200px;
  border-radius: 50%;
}

.clear-floats {
  clear: both;
}

.credits {
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  margin: 100px auto 0 auto;
  font-size: 0.75rem;
  padding-bottom: 25px;
}

.footer-link {
  color: #F2D7D9;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  top: 50px;
  text-decoration: none;
}
a:hover{
  color:white;
}
hr {
  border-style: dotted none none none;
  border-color: #B7CADB;
  width: 5%;
  border-top-width: 7px;
  margin: 100px auto 100px auto;
}

.greeting {
  margin: 50px auto 50px auto;
}

.intro {
  margin: 0 auto 15px auto;
  width: 25%;
  line-height: 2;
}

p {
  line-height: 2;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
